<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Formulario Pedido')}"></head>

<body>
	<div th:replace="~{base :: logo}"></div> 
	<div class="container">
		<div th:replace="~{base :: titulo('Novo Pedido')}"></div>

		<div class="card mt-3">
			<form th:object="${requisicaoNovoPedido}" class="card-header" th:action="@{/pedido/novo}" method="post">
				<div class="form-group">
					<label>Produto</label> 
					<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Nome do produto"> 
					<small>Informe o nome do produto</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}"></div>
				</div>
				<div class="form-group">
					<label>Url</label> 
					<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Url do produto"> 
					<small>Procure em um site o produto que você deseja e cole a URL da página aqui</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}"></div>
				</div>
				<div class="form-group">
					<label>Url Imagem</label> 
					<input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" placeholder="Url da imagaem"> 
					<small>Copie a url da imagem para ajudar a conseguir compradores</small>
					<div class="invalid-feedback" th:errors="*{urlImagem}"></div>
				</div>
				<div class="form-group">
					<label>Descrição</label>
					<textarea th:field="*{descricao}" th:errorclass="is-invalid" class="form-control" placeholder="Adicione detalhes importantes para ajudar os compradores"></textarea>
				</div>
				<div class="d-flex justify-content-between">
					<button class="btn btn-primary" type="Submit">Cadastrar</button>
					<a class="btn btn-warning"  href="/home">Voltar</a>
				</div>

			</form>
		</div>
	</div>
</body>
</html>