<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="jumbotron mb-0">
			<h1 class="display-4">Meus Pedidos</h1>
		</div>
		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a class="nav-link active"href="">Todos</a>
				<a class="nav-link" href="">Aguardando</a>
				<a class="nav-link" href="">Aprovado</a>
				<a class="nav-link" href="">Entregue</a>
			</div>
			<a href="/pedido/formulario"><button class="btn btn-outline-secondary">Novo</button></a>
		</nav>
		<div class="card md-3" th:each="pedido: ${pedidos}">
			<div class="card-header" th:text="${pedido.nomePedido}">Nome</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 md-3">
						<div class="row">
							<div class="col-md-6">
								Valor:
								<spam th:text="${pedido.valorProduto}"> 0</spam>
							</div>
							<div class="col-md-6">
								Data da entrega
								<spam th:text="${pedido.dataEntrega}">01/01/2001</spam>
							</div>
						</div>
						<div>Produto</div>
						<div>
							<input class="form-control" th:value="${pedido.urlProduto}"
								value="url do produto">
						</div>
						<div>Descrição</div>
						<div>
							<textarea class="form-control" th:text="${pedido.descricao}"
								rows="" cols="">Desc do prod</textarea>
						</div>
					</div>

					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagem}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>